
/*--------------------------------------------Colors*/

.bg-navbar-container {
    background-color: gray;
}

/*--------------------------------------------Special paddings/margins/text*/

.uppercase {
    margin: 0;
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    margin-top: 10px;
}

/*--------------------------------------------Heading*/

.nav-log-in-form {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.heading-slogan {
    margin-top: auto;
    text-transform: uppercase;
    color: whitesmoke;
}

.md-navigation-list li a{
    color:darkslategray;
    text-transform: upppercase;
}

.sm-navigation-list li a{
    color: darkslategray;
    text-transform: uppercase;
}

.logo {
    background: url("../images/koller_logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ----------------------------------------Footer */

footer {
    background-color: black;
    color: lightgray;
    min-height: 130px;
    margin: 0;
}