@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|');

body {
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------Colors, Backgrounds*/
/*
Color Palette

    black #1A1423
    violet #372549
    deep taupe #774C60
    deep puce #B75D69
    dust storm #EACDC2
*/

.bg-banner-log-in {
    background-color: transparent;
    color: #372549;
}

.cityscape1 {
    background: url("../images/background_image8.jpg");
}

.cityscape2 {
    background: url("../images/background_image9.jpg");
}

.cityscape3 {
    background: url("../images/background_image11.jpg");
}

.bg-nav-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-services-container {
    background-color: #774C60;
    color: #EACDC2;
}

.bg-intro-container {
    background-color: #1A1423;
    color: #EACDC2;
}

.deep-taupe-color-opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /*Deep taupe color*/
    background-color: rgba(119, 76, 96, 0.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.deep-puce-color-opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /*Deep puce color*/
    background-color: rgba(183, 93, 105, 0.2);
}

.intersection-container {
    height: 40vh;
    background: url('../images/background_image10.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}
/*--------------------------------------------Special paddings/margins/text*/

.uppercase {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.align-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
    margin-top: 10px;
}

.general-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #EACDC2;
}

.general-subtitle-dark {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #1A1423;
    margin-bottom: 30px;
}

.general-subtitle-light {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #fafafa;
    margin-bottom: 30px;
}

.general-sub-subtitle {
    font-weight: 300;
    color: #fafafa;
}

.content-container {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*--------------------------------------------Dividers*/

.divider-short-light {
    width: 90px;
    height: 2px;
    border: 0;
    background-color: #B75D69;
}

.divider-long-dark {
    width: 200px;
    height: 2px;
    border: 0;
    background-color: #1A1423;
}

/*--------------------------------------------Buttons*/

.btn-violet {
    color: #EACDC2;
    background-color: #372549;
    border-color: #372549;
    border-radius: 1rem;
}

.btn-violet:hover {
    color: #fafafa;
    background-color: #774C60;
    border-color: #774C60;
}


.services .btn {
    background-color: transparent;
    border-color: #fafafa;
    border-radius: 1rem;
    min-width: 100px;
    margin-top: 10px;
    color: #fafafa;
}

.services .btn:hover {
    background-color: #B75D69;
    border-color: #B75D69;
    color: #fafafa;
}

.properties-description .btn {
    background-color: transparent;
    border-color: #fafafa;
    border-radius: 1rem;
    min-width: 100px;
    margin-top: 10px;
    color: #fafafa;
}

.properties-description .btn:hover {
    background-color: #B75D69;
    border-color: #B75D69;
    color: #fafafa;
}

.btn-map-filter {
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #EACDC2;
    background-color: #372549;
    border-color: #372549;
    border-radius: 1rem;
    min-width: 100px;
}

.btn-map-filter:hover {
    color: #fafafa;
    background-color: #B75D69;
    border-color: #B75D69;
}

.btn-reserve {
    color: #EACDC2;
    background-color: #372549;
    border-color: #372549;
    border-radius: 1rem;
}

.btn-reserve:hover {
    color: #fafafa;
    background-color: #774C60;
    border-color: #774C60;
}

/*--------------------------------------------Header*/

.banner-log-in {
    position: relative;
    padding: 2rem 2rem;
}

.nav-log-in-form {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.header-logo {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.header-slogan {
    margin-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #372549;
}

/*Tablet-and-destop version navigation list*/

.md-navigation-list li a{
    color:#1A1423;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}

/*Mobile version navigation collapse list*/

.nav-link {
    display: block;
    padding: 1rem 1rem;
}

.sm-navigation-list li a{
    color:#1A1423;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#navbarToggler {
    margin-top: 20px;
}

.logo {
    background: url("../images/koller_logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ----------------------------------------About Us */

.intro-container {
    min-height: 40vh;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans', sans-serif;
}

.intro-text {
    margin-top: auto;
}

.image-carrousel {
    margin: 50px 0px;
    width: 100%;
}

.about-us-container {
    height: 100vh;
    background: url('../images/background_image1.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo-overlay {
    background: url('../images/white_logo_transparent_small.png') no-repeat top center fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.content-light-jumbotron {
    padding: 2rem 2rem;
    background-color: rgba(206, 197, 202, 0.9);
    color: #372549;
    font-family: 'Open Sans', sans-serif;
}
/* ----------------------------------------Services */

.services {
    text-align: center;
    margin-bottom: 10px;
}

.services h3 i {
    margin: 20px auto;
    font-size: 45px;
    line-height: 50px;
    color: #372549;
    width: 80px;
    height: 80px;
    padding: 15px 0px;
    border-radius: 50%;
    background-color: #EACDC2;
}

.services p {
    padding-left: 50px;
    padding-right: 50px;
}

/* ----------------------------------------Properties */

.properties-subtitle {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
}

.properties-description {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.properties-description .image-carrousel {
    margin: 30px 0px;
}

.properties-description i {
    margin: 45px auto 10px auto;
    font-size: 30px;
    line-height: 30px;
    color: #372549;
    width: 60px;
    height: 60px;
    padding: 15px 0px;
    border-radius: 50%;
    background-color: #fafafa;
}

.our-properties-locations {
    text-align: center;
    margin-bottom: 10px;
}

/* ----------------------------------------Reservation */

.locations-map {
    width: 100%;
    height: 400px;
}

.locations-map-small {
    width: 100%;
    height: 200px;
}

.selected-property-card {
    padding: 2rem 1.5rem;
    background-color: rgba(206, 197, 202, 0.9);
    color: #372549;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.property-info-item {
    margin-bottom: 30px;
    display: block;
    clear: both;
    text-align: left;

}

.property-info-item .key,
.property-info-item .value {
    padding-right: 5px;
    display: inline-block;
}

.property-info-item .key {
    width: 40%;
    margin-right: 10px;
    padding-top: 2px;
    vertical-align: top;
}

.property-info-item .key span {
    font-weight: 700;
}

.property-info-item .value {
    position: absolute;
    width: 50%;
    padding-left: 10px;
}

.image-carrousel-small {
    margin: 25px 0px;
    width: 100%;
}

.reserve-property {
    padding-left: 25px;
    padding-right: 25px;
}
/* ----------------------------------------Footer */

footer {
    background-color: #1A1423;
    color: #EACDC2;
    min-height: 150px;
    margin: 0px;
    padding: 30px 20px;
}

.footer-navigation-list li a {
    color: #EACDC2;
}

.footer-navigation-list li a:hover {
    color: #B75D69;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 15px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #EACDC2;
    background-color: #774C60;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #B75D69
}

/*--------------------------------------------Media Queries */

/*-----------Tablet (md) */

@media(min-width: 768px) {
    .header-logo {
    margin-top: 60px;
    }

    .header-slogan {
    margin-top: 2em;
    font-size: 25px;
    }

    .logo-overlay {
    background: url(../images/white_logo_transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 5%;
    }

    .content-light-jumbotron {
           min-height: 300px;
           margin-top: 12em;
    }
    
    .properties-subtitle {
    font-size: 4.5em;
    }

    .selected-property-card {
           min-height: 300px;
    }
}

/*-----------Desktop (lg) */

@media (min-width: 992px) {

    .intro-text {
    margin-top: auto;
    margin-bottom: auto;
    }
    .white-small-logo {
        width: 10%;
    }
    .locations-map {
        height: 600px;
    }
}

/*-----------XX large (xxl) */

@media(min-width: 1440px) {
    .md-navigation-list li a {
    font-size: 40px ;
    }

    .header-slogan {
    font-size: 40px;
    }

    .selected-property-card {
    font-size: 20px;
    }
