@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|');

/*--------------------------------------------Colors*/

.bg-banner-log-in {
    background-color: transparent;
    color: #372549;
}
.bg-nav-container {
    background: url("../images/background_image8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-services-container {
    background-color: #774C60;
    color: #EACDC2;
}

.bg-intro-container {
    background-color: #372549;
    color: #EACDC2;
}

.header-color-opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /*Deep taupe color*/
    background-color: rgba(119, 76, 96, 0.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-color-opaque-overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /*Deep puce color*/
    background-color: rgba(183, 93, 105, 0.2);
}

/*--------------------------------------------Special paddings/margins/text*/

.uppercase {
    margin: 0;
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    margin-top: 10px;
}

.general-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #EACDC2;
}

.general-sub-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*--------------------------------------------Buttons*/

.btn-violet {
    color: #EACDC2;
    background-color: #372549;
    border-color: #1A1423;
}

.btn-violet:hover {
    color: #fafafa;
    background-color: #774C60;
    border-color: #1A1423;
}

/*--------------------------------------------Header*/

.banner-log-in {
    position: relative;
    padding: 2rem 2rem;
}

.nav-log-in-form {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.header-logo {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.header-slogan {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #372549;
}

/*Tablet-and-destop version navigation list*/

.md-navigation-list li a{
    color:#1A1423;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}

/*Mobile version navigation collapse list*/

.nav-link {
    display: block;
    padding: 1rem 1rem;
}

.sm-navigation-list li a{
    color:#1A1423;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#navbarToggler {
    margin-top: 20px;
}

.logo {
    background: url("../images/koller_logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ----------------------------------------About Us */

.intro-container {
    min-height: 40vh;
    padding-left: 75px;
    padding-right: 75px;
}

.image-carrousel {
    margin: 50px 0px;
}

.about-us-container {
    height: 100vh;
    background: url('../images/background_image1.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo-overlay {
    background: url('../images/white_logo_transparent_small.png') no-repeat top center fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.about-us-jumbotron {
    padding: 2rem 2rem;
    background-color: rgba(233,236,239,0.7);
    border-radius: 0.3rem;
}
/* ----------------------------------------Services */

.services {
    text-align: center;
    margin-bottom: 10px;
}

.services h3 i {
    margin: 20px auto;
    font-size: 45px;
    line-height: 50px;
    color: #372549;
    width: 80px;
    height: 80px;
    padding: 15px 0px;
    border-radius: 50%;
    background-color: #EACDC2;
}

.services .btn {
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    margin-top: 10px;
    color: white;
}

.services p {
    padding-left: 50px;
    padding-right: 50px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #1A1423;
    color: #EACDC2;
    min-height: 150px;
    margin: 0px;
    padding: 30px 20px;
}

.footer-navigation-list li a {
    color: #EACDC2;
}

.footer-navigation-list li a:hover {
    color: #B75D69;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 15px 0px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #EACDC2;
    background-color: #774C60;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #B75D69
}

/*--------------------------------------------Media Queries */

/*-----------Tablet (md) */
@media(min-width: 768px) {
    .header-logo {
    margin-top: 60px;
    }

    .header-slogan {
    margin-top: 60px;
    }

    .logo-overlay {
    background: url(../images/white_logo_transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 5%;
    }
}

/*-----------Desktop (lg) */

@media (min-width: 992px) {

}

/*-----------XX large (xxl) */

@media(min-width: 1440px) {
    .md-navigation-list li a {
    font-size: 40px ;
    }

    .header-slogan {
    font-size: 40px;
    }
